@import "variables.css";
@import "cssrecipes-defaults";
@import "cssrecipes-reset";

.main {
  display: flex;
}

.container {
  padding: 2rem;
}

.title {
  margin: 0 0 1rem 0;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}
