@import "variables.css";
@import "cssrecipes-defaults";
@import "cssrecipes-reset";

.main {
  display: flex;
}

.container {
  padding: 0 4rem;
}

.header {
  padding: 4rem 4rem 0 4rem;
  margin: 0 0 1.25rem 0;
  background: white;
}

.h1 {

}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}
