{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "plugins": ["react", "flowtype"],
  "parser": "babel-eslint",
  "rules": {
    "no-confusing-arrow": "off",
    "no-else-return": "off",
    "max-len": ["error", 120],
    "no-unused-vars": ["error", {"args": "none"}],
    "react/jsx-boolean-value": ["error", "always"],
    "flowtype/define-flow-type": 1,
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
