{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "declaration-block-no-duplicate-properties": [ true, {
      ignore: ["consecutive-duplicates"]
    } ],
    "property-value-blacklist": {
      "margin": ["/^[0-9]{2,}$/"],
      "padding": ["/^[0-9]{2,}$/"],
      "height": ["/^[0-9]{2,}$/"],
      "width": ["/^[0-9]{2,}$/"],
      "top": ["/^[0-9]{2,}$/"],
      "right": ["/^[0-9]{2,}$/"],
      "bottom": ["/^[0-9]{2,}$/"],
      "left": ["/^[0-9]{2,}$/"]
    }
  }
}
