@import "variables.css";

.name {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  line-height: 1;
}

.container {
  margin: 1rem 5rem 1rem 5rem;
  padding: 0 1rem 1rem 1rem;
  border: 2px solid var(--color-concrete);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.json {
  padding: 1rem 0 1rem 0;
}
