@import "variables.css";
@import "cssrecipes-defaults";
@import "cssrecipes-reset";

.main {

}

.h1 {

}

.method {
  padding: 0 5rem;
}


.section {
}

.request {
  background: #fafafa;
}

.section-header {
  margin: 0;
  font-weight: 600;
}