@import "variables.css";
@import "cssrecipes-defaults";
@import "cssrecipes-reset";

.main {

}

.h1 {
  color: white;
}

.header {
  background: var(--color-cool-blue);
  padding: 1.25rem;
}

.description {
  line-height: 2;
  margin: 0;
  color: white;
}

.section {
  padding: 0.67rem 1.25rem;
}

.request {
  background: #fafafa;
}

.model-name {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  line-height: 1;
}

.section-header {
  margin: 0;
  font-weight: 600;
}