@import "variables.css";

.container {
  background: var(--color-concrete);
  padding: 1rem 0 1rem 0;
  margin: 0 5rem;
  border-radius: 10px;
  overflow: hidden;

}

.title {
  padding: 0.67rem 2rem;
  margin: 0 3rem;
  font-weight: 400;
}

.no-content {
  color: var(--color-very-light-gray);
  margin: 0;
  padding: 0.67rem 2rem;
}
