@import "variables.css";

.container {
  background: var(--color-concrete);
  padding: 0 0 2rem 0;
  margin: 0 5rem;
  border-radius: 10px;
  overflow: hidden;

}

.title {
  padding: 0.67rem 2rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
  background: var(--color-armadillo);
  color: white;
}

.no-content {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0.67rem 2rem;
  color: var(--color-armadillo);
}
