@import 'variables.css';

:root {
  --spacing: 10px 10px;
  --bg-color: var(--color-primary);
}

.h1 {
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 700;
  font-family: var(--font-secondary);
  letter-spacing: 0.025em;
  margin: 0;
}
