@import "variables.css";

.organization {
  
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}

.title {
  margin: 0 0 1rem 0;
}

.container {
  padding: 2rem;
}