@import "variables.css";

.organization {
  
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}

.header {
  padding: 5rem 5rem 0 5rem;
  margin: 0 0 1rem 0;
  background: white;
}

.h1 {

}

.container {
  padding: 0 5rem;
  max-width: 60rem;
}