@import "variables.css";

.organization {
  
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}

.header {
  background: var(--color-cool-blue);
  padding: 1.25rem;
}

.h1 {
  color: white;
}

.container {
  padding: 1.25rem;
  max-width: 60rem;
}