@import "variables.css";

.json-doc {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.link {
  text-decoration: none;
  font-family: var(--font-mono);
}

.name {
  color: blue;
  font-family: var(--font-mono);
}

.value {
  color: red;
  font-family: var(--font-mono);
}
