@import "variables.css";

.json-doc {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 5rem;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.code {
  flex: 0 0 38%;
  width: 38%;
  padding: 1rem;
  background: var(--color-tuatara);
  color: white;
  margin: 0 2% 0 0;
  border-radius: var(--border-radius);
  overflow-x: scroll;
}

.link {
  text-decoration: none;
  color: var(--color-aluminium);
  font-family: var(--font-mono);
}

.name {
  color: var(--color-maya-blue);
  font-family: var(--font-mono);
}

.value {
  color: var(--color-secondary-light);
  font-family: var(--font-mono);
}

.default {
  color: black;
}

.documentation {
  flex: 0 0 60%;
  width: 60%;
  font-family: var(--font-primary);
}

.field-container {
  display: flex;
}

.field-left {
  flex: 0 1 30%;
}

field-right {
  flex: 0 1 65%;
  margin-left: 5%;
}

.model-name {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  line-height: 1;
}

.model-description {
  margin: 0;
  margin-bottom: 0.67rem;
  font-weight: 300;
  line-height: 1.5;
}

.model-description + .field-container {
  border-top: 1px solid var(--color-very-light-gray);
}

