/* Sensible defaults */

html {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

* {
  border-collapse: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
