@import "variables.css";

.h1 {
  font-family: var(--font-avenir);
  font-weight: 400;
  font-size: 3.157rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.h2 {
  font-family: var(--font-din);
  font-size: 2.369rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.h3 {
  font-family: var(--font-avenir);
  font-size: 1.777rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.p {
  font-family: var(--font-avenir);
  line-height: 1.2;
  font-size: 1rem;
  color: var(--color-tuatara);
}