@import "variables.css";

.content {
  position: fixed 50px 0 0 400px;
  width: 100%;
  padding: 0;
  font-family: var(--font-primary);
  overflow-y: auto;

  @nest &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.content-inner {
  padding: 0 0 1.25rem 0;
  min-height: calc(100% - 50px);
}
