// Component styles
.checkbox {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-family: $font-din;
  padding: 0 0 0 36px;
  line-height: 22px;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: all .2s;
  }
  &::before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid $color-aluminium;
    border-radius: 3px;
  }
  &::after {
    bottom: 11px;
    left: 6px;
    width: 0;
    height: 0;
    opacity: 0;
    transform: rotate(45deg);
    transform-origin: bottom left;
    border-right: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    transition: all .3s, height .15s, width .1s .15s, opacity .15s .15s;
  }
  &.active {
    &::after {
      transition: all .3s, width .1s, height .15s .1s;
      opacity: 1;
      width: 4px;
      height: 8px;
    }
  }
}

// Component relations
.checkbox + .checkbox {
  margin-left: 20px;
}
