// Component styles
h1 {
  font-size: 30px;
  color: $color-primary;
  font-weight: normal;
  font-family: $font-brandon;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

// Component relations
h1 + h1 {
  margin-top: 80px;
}

h2 + h1 {
  margin-top: 20px;
}

p + h1,
.button + h1 {
  margin-top: 40px;
}
