// Component styles
input[type="text"] {
  //display: block;
  border: none;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  border-radius: $border-radius;
  padding: 0 12px;
  background: white;
  outline: none;
  width: 230px;
  opacity: 1;
  border: 2px solid $color-aluminium;
  &::-webkit-input-placeholder {
    color: $color-aluminium;
  }
  &:not(:disabled):focus,
  &:not(:disabled):active {
    border-color: $color-primary;
  }
  &:disabled {
    background: $color-very-light-gray;
    color: $color-light-gray;
    -webkit-user-select: none;
    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }
  }
}

// Component relations
input[type="text"] + input[type="text"] {
  margin-left: 10px;
}

label + input[type="text"] {
  margin-top: 5px;
}

.switch + input[type="text"] {
  margin-top: 1px;
}
