// Component styles
textarea {
  border: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: $border-radius;
  padding: 7px 12px;
  background: white;
  outline: none;
  width: 230px;
  resize: none;
  min-height: 100px;
  opacity: 1;
  border: 2px solid $color-aluminium;
  &::-webkit-input-placeholder {
    color: $color-aluminium;
  }
  &:not(:disabled):focus,
  &:not(:disabled):active {
    border-color: $color-primary;
  }
  &:disabled {
    background: $color-very-light-gray;
    color: $color-light-gray;
    -webkit-user-select: none;
    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }
  }
}

// Component relations
textarea + textarea {
  margin-left: 10px;
}

label + textarea {
  margin-top: 5px;
}

.switch + textarea {
  margin-top: 1px;
}
