@import "variables.css";

.header {
  padding: 2rem 0 1rem 0;
}

.resource {
  padding: 0 0 1rem 0;
}

.content {
  padding: 0 3rem;
}

.description {
  padding: 1rem 0;
}

.request {
  padding: 0 0 2rem;
}

.link {
  color: inherit;
  text-decoration: none;

  @nest &:hover {
    opacity: 0.7
  }
}
