@import "variables.css";

.container {
  font-family: var(--font-primary);
  font-weight: 300;
  display: flex;
  align-items: stretch;
  padding: 0 2rem 1.5rem 2rem;
  margin: 0 0 1.5rem 0;
  border-bottom: 2px solid white;

  @nest &:last-of-type {
    border-color: transparent;
    padding: 0 2rem;
    margin: 0;
  }
}

.pointer {
  cursor: pointer;
}

.meta {
  flex: 0 0 25%;
  max-width: 25%;
  margin: 0 2% 0 0;
}

.name {
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}

.type {
  font-weight: 400;
  max-width: 95%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: var(--color-light-gray);
  line-height: 1.5;
  display: block;
}

.required {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--color-alert);
}

.info {
  flex: 0 0 73%;
  max-width: 73%;
  margin: 0;
}

.description {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

.no-content {
  color: var(--color-very-light-gray);
  margin: 0;
}

.sample {
  margin: 0 0 1rem 0;
  font-weight: 400;
}

.sample-title {
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
