@import 'variables.css';

:root {
  --spacing: 10px 10px;
  --bg-color: var(--color-primary);
}

.sidebar {
    position: absolute;
    padding: 70px 0 20px 20px;
    width: 260px;
    height: 100%;
    background: var(--color-tuatara);
    color: white;
    overflow-y: scroll;
}


/* // Component relations */

h1 + h2 { margin-top: 0px; }
h2 + h2 { margin-top: 10px; }
p + h2 { margin-top: 20px; }
.button + h2 { margin-top: 30px; }