@import "variables.css";

.container {
  margin: 1rem 5rem 1rem 5rem;
  padding: 0 0 1rem 1rem;
  border: 2px solid var(--color-concrete);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.description {
  padding: 0 0 1rem 0;
}
