@import "variables.css";

.markdown {
  @nest & p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 1rem 0;

    @nest &:last-of-type {
      margin: 0;
    }
  }

  @nest & code {
    font-family: var(--font-code);
    display: inline-block;
    background: white;
    border-radius: 3px;
    color: var(--color-red);
    border: 1px solid var(--color-very-light-gray);
    line-height: 1.5;
    font-size: 0.85rem;
    padding: 0 0.25rem;
  }

  @nest & ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0.2rem;
    font-size: 0;

    @nest & li {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      padding: 0.25rem 0 0.25rem 1rem;
      margin: 0;
      line-height: 1.5;
      border-left: 2px solid var(--color-very-light-gray);
    }
  }

  @nest & a {
    text-decoration: none;
    color: var(--color-cool-blue);
  }

  @nest & h1, & h2 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
}
