@import 'variables.css';

:root {
  --spacing: 10px 10px;
  --bg-color: var(--color-primary);
}

.home {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: white;
  padding: 5px 0;
  display: block;
  line-height: 2;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background: var(--color-primary);
  padding: 5px 20px;
  z-index: 99;
}

.breadcrumbs {
  position: absolute 0 0 0 400px;
  width: 100%;
  height: 50px;
  background: var(--color-primary);
  padding: 5px 0;
  z-index: 99;
}

.button {
  display: inline-block;
  line-height: 40px;
  padding-left: 10px;

  @nest &::before {
    content: '/';
    color: white;
    position: relative 0 auto auto -10px;
  }
}
