@import "variables.css";

.main {
  display: flex;
}

.header {
  margin: 2rem 0 2rem 0;
  background: white;
}

.content {
  padding: 0 3rem;
}

.container {
  margin: 0 0 0.75rem;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-cool-blue);
  line-height: 2;
  cursor: pointer;

  @nest &:hover {
    color: color(var(--color-cool-blue) b(+15%));
  }
}
