@import 'variables.css';

:root {
  --spacing: 10px 10px;
  --bg-color: var(--color-primary);
}

.sidebar {
    position: fixed 50px auto 0 0;
    width: 400px;
    height: 100%;
    background: var(--color-tuatara);
    color: white;
    padding: 1.25rem;
    overflow-y: auto;
}

.sidebar-inner {
  padding-bottom: 1.25rem;
  min-height: calc(100% - 50px);
}

.a {
  color: white;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  font-family: var(--font-primary);
  text-decoration: none;
  border-left: 2px solid white;
  position: relative;
  cursor: pointer;

  @nest &:hover {
    background: var(--color-primary);
    @nest &::before {
      content: '';
      position: absolute 13px auto auto -7px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 3px solid var(--color-primary);
      background: white;
    }
  }
}

.group {
  margin: 0 0 2rem 0;

  @nest &:last-of-type {
    margin: 0;
  }
}

.h2 {
  font-family: var(--font-primary);
  margin: 0 0 0.5rem 0;
  font-weight: 400;
}

.label {
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--color-primary);
}

.section {
  margin: 0 0 2rem 0;
}


/* // Component relations */

h1 + h2 { margin-top: 0px; }
h2 + h2 { margin-top: 10px; }
p + h2 { margin-top: 20px; }
.button + h2 { margin-top: 30px; }