@import 'variables.css';

:root {
  --spacing: 10px 10px;
  --bg-color: var(--color-primary);
}

.sidebar {
  position: fixed 50px auto 0 0;
  width: 400px;
  height: 100%;
  background: var(--color-tuatara);
  color: white;
  padding: 1.25rem;
  overflow-y: auto;
}

.sidebar-inner {
  padding-bottom: 1.25rem;
  min-height: calc(100% - 50px);
}

.icon {
  display: inline-block;
  margin-right: 0.4rem;
  border-radius: 3px;
  color: white;
  font-size: 0.5rem;
  padding: 0.25rem 0.25rem 0.35rem 0.25rem;
  text-align: center;
  line-height: 1.2;
  position: relative;
  top: -1px;
}

.get {
  background: var(--color-method-get);
}

.post {
  background: var(--color-method-post);
}

.put {
  background: var(--color-method-put);
}

.delete {
  line-height: 1.7;
  background: var(--color-method-delete);
}

.enum {
  background: var(--color-hawkes-blue);
  color: black;
  line-height: 1.5;
}

.model {
  background: var(--color-medium-persian-blue);
  color: white;
}

.a {
  color: white;
  display: block;
  padding: 0.5rem 0 0.5rem 0.75rem;
  margin: 0 0 0 0.25rem;
  font-family: var(--font-primary);
  text-decoration: none;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;

  @nest &:after {
    content: '';
    position: absolute 0 0 0 0;
    background-image: linear-gradient(to right, transparent 90%, color(var(--color-tuatara) alpha(- 95%)));
  }

  @nest &:hover, .active {
    background: var(--color-primary);
  }
}

.group {
  margin: 0 0 2rem 0;

  @nest &:last-of-type {
    margin: 0;
  }
}

.h2 {
  font-family: var(--font-primary);
  margin: 0 0 0.5rem 0;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.label {
  font-family: var(--font-secondary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--color-primary);
  display: block;
  margin: 0 0 0.5rem 0;
}

.section {
  margin: 0 0 2rem 0;
}
