@import "variables.css";

.header {
  margin: 5rem 0 2rem 0;
}

.title {
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.container {
  margin: 1rem 5rem 1rem 5rem;
  padding: 0 0 1rem 1rem;
}

.fields-container {
  padding: 0 1rem 1rem 1rem;
  border: 2px solid var(--color-concrete);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.description {
  margin: 0;
}

.json {
  padding: 1rem 0 1rem 0;
}
