@import "variables.css";

.header {
  padding: 5rem 5rem 0 5rem;
  margin: 0 0 2rem 0;
}

.title {
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.json {
  margin: 2rem 0 0 5rem;
}
.description {
  margin: 0;
  column-count: 2;
}
